#page-wrapper {
	padding : 30px;
}
.navbar-brand {
    height: 60px;
    font-size: 30px;
    line-height: 30px;
}
.navbar-default .navbar-nav>li>a{
	font-size : 30px;
}
.ng-hide {
	display : none;
}


.row-button .col-md-button {
	height : 150px;
	text-align : center;
	font-size : 90px;
	line-height : 150px;
	margin-bottom : 20px;
}
.col-md-button a{
	width: 100%;
    display: inline-block;
}
.col-md-blue {
	background-color : #2e81a0;
}
.col-md-blue a{
	color : white;
}
.col-md-blue:hover{
	background-color : white;
	border : 1px solid #2e81a0;
}
.col-md-blue:hover a{
	text-decoration : none;
	color : #2e81a0;
}
.col-md-green {
	background-color : #2ea02e;
}
.col-md-green a{
	color : white;
}
.col-md-green:hover{
	background-color : white;
	border : 1px solid #2ea02e;
}
.col-md-green:hover a{
	text-decoration : none;
	color : #2ea02e;
}
.col-md-red {
	background-color : #a02e89;
}
.col-md-red a{
	color : white;
}
.col-md-red:hover{
	background-color : white;
	border : 1px solid #a02e89;
}
.col-md-red:hover a{
	text-decoration : none;
	color : #a02e89;
}
.col-md-orange {
	background-color : #e7bf21;
}
.col-md-orange a{
	color : white;
}
.col-md-orange:hover{
	background-color : white;
	border : 1px solid #e7bf21;
}
.col-md-orange:hover a{
	text-decoration : none;
	color : #e7bf21;
}
.col-md-dark-red {
	background-color : #a02e2e;
}
.col-md-dark-red a{
	color : white;
}
.col-md-dark-red:hover{
	background-color : white;
	border : 1px solid #a02e2e;
}
.col-md-dark-red:hover a{
	text-decoration : none;
	color : #a02e2e;
}










