<div class="row row-button">
	<div class="col-md-2 col-sm-3">
		<div class="col-md-button col-md-blue">
			<a href="#/add" class="fa fa-plus"></a>
		</div>
	</div>
	<div class="col-md-2 col-sm-3">
		<div class="col-md-button col-md-green">
			<a href="#/6nimmt">6</a>
		</div>
	</div>
	<div class="col-md-2 col-sm-3">
		<div class="col-md-button col-md-red">
			<a href="#/handriting-to-script">s -> <span class="handwriting">S</span></a>
		</div>
	</div>
	<div class="col-md-2 col-sm-3">
		<div class="col-md-button col-md-orange">
			<a href="#/lower-to-uppercase">s -> S</a>
		</div>
	</div>
	<div class="col-md-2 col-sm-3">
		<div class="col-md-button col-md-dark-red">
			<a href="#/sort">
				<span class="size-1">
					1
				</span>
				<span class="size-2">
					2
				</span>
				<span class="size-3">
					3
				</span>
				<span class="size-4">
					4
				</span>
			</a>
		</div>
	</div>
</div>
