@font-face {
    font-family: "handwriting";
    src: url('../../fonts/cursive.ttf');
}
.handwriting{
	font-family: "handwriting";
}
.global-hts input{
	width : 130px;
	text-align : center;
	background-color : transparent;
	border : 1px solid gray;
	margin : 5px;
	height : 150px;
	font-size : 90px;
	text-transform: uppercase;
	display : inline-block;
}
.global-hts button.btn{
	height : 150px;
	font-size : 90px;
}
.global-hts{
	font-size : 90px;
}
.global-hts .handwriting{
	font-size : 200px;
	line-height : 130px;
	position: relative;
	background : white;
}
.global-hts .col-offset-top-1{
	padding-top : 30px;
}
.global-hts .col-offset-top-3{
	padding-top : 50px;
}
.global-hts .col-error {
	font-size : 25px;
}
.global-hts .col-error .normal {
	text-transform: uppercase;
}
.global-hts .col-error .handwriting {
	font-size : 25px;
	font-size: 60px;
    line-height: 60px;
}

@media (max-width: 1500px){
	.global-hts .col-offset-top-1{
		padding-top : 10px;
	}
	.global-hts .col-offset-top-3{
		padding-top : 20px;
	}
	.global-hts .last-row{
		line-height: 30px;
		font-size: 30px;
	}
}
