.row-add{
	font-size : 90px;
}
.col-md-end {
	border-bottom : 4px solid black;
}
.row-add input{
	width : 100%;
	text-align : center;
	background-color : transparent;
	border : 1px solid gray;
	margin : 5px;
	height : 150px;
	font-size : 90px;
}
.add-success{
	background-color : #b2e3b5 ;
}
.add-error{
	background-color : #e3b5b2 ;
}
.row-add button{
	font-size : 40px;
	width : 100%;
	height : 150px;
	
}

@media (max-width: 1500px){
	.global-add .hide-smaller{
		display : none;
	}
	.global-add .col-md-1 {
		width: 120px;
	}
	.global-add .add-line .col-md-end {
		width: 100%;
	}
	.global-add .col-button {
		width: 255px;
	}
	.row-add button {
		height: 70px;
	}
	.row-add {
		font-size: 62px;
	}
	.row-add input {
		height: 80px;
		font-size: 62px;
	}
}
