<div class="row form-group global-hts">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4 text-center">
				<span ng-show="!endReached">{{letterList.length+1}} ?</span>
			</div>
			<div class="col-xs-4 text-center">
				{{foundLetterList.length}} <img src="img/share/1.png" width="90"/>
			</div>
			<div class="col-xs-4 text-center">
				{{errorLetterList.length}} <img src="img/share/0.png" width="90"/>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-offset-top-1">
		<div class="row" ng-if="!endReached">
			<div class="col-xs-12 text-center">
				<span class="handwriting">{{currentLetter}}</span>
				<i class="fa fa-arrow-right"></i>
				<input type="text" ng-model="response.value" class="form-control" ng-keyup="check()">
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-offset-top-3">
		
		<div class="row last-row">
			<div class="row">
				<div class="col-xs-2 text-center">
					<button class="btn btn-info refresh" ng-click="generateData()"><i class="fa fa-refresh"></i></button>
				</div>
				<div class="col-xs-4 text-center">
					<div ne-notification="'HandritingToScript'" class="alert-container"></div>
				</div>
				<div class="col-xs-6 text-center col-error">
					<div class="row">
						<div ng-repeat="error in errorLetterList" class="col-xs-4" style="overflow : hidden;">
							<span class="handwriting">{{error}}</span>&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;<span class="normal">{{error}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-offset-top-1">
	</div>
	
		
	</div>
</div>
